@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common */
:root {
    --color-point: #3EE93E;
    --color-point2:#BCFFBC;
    --color-gray: #767676;
    --color-lightgray: #f2f2f2;
    --margin-top: 150px;
}
.inner {
    padding: 1% 3%;
}
section{
    margin-top: var(--margin-top);
    padding: 3% 0 5%;
}
p.mainTitle{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5px;
}
p.subTitle{
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.3;
    margin-bottom: 5px;
}
h2{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.3;
    margin-bottom: 80px;
}
p.text{
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.6;
}
span.text{
    font-size: 16px;
    line-height: 1.2;
}

/* header */
header {
    position: sticky;
    top: 0; left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
}

.gnb {
    text-transform: capitalize;
}
.gnb ul {
    display: flex;
    gap: 40px;
}
.gnb ul li a {
    display: block;
    font-weight: 500;
    padding: 5px 10px;
}
.gnb ul li a::after{
    content: '';
    background-color: #000;
    width: 0;
    height: 1.3px;
    display: block;
    transition: width .2s;
}
.gnb ul li a:hover::after{
    width: 100%;
}

/* mainVisual */
.mainVisual {
    height: calc(100vh - 80px);
}
.mainVisual .textArea{
    padding-left: 60%;
    padding-top: 10%;
    margin-bottom: 10%;
}
.subTitle span {
    color: var(--color-point);
    font-weight: 500;
}
.btn_connect {
    display: inline-block;
    margin-top: 2%;
}
.btn_connect a {
    padding: 5px 0;
    line-height: 1;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.btn_connect a::after{
    content: '';
    background-color: #000;
    width: 0;
    height: 1.3px;
    display: block;
    transition: width .2s;
}
.btn_connect a:hover::after{
    width: 100%;
}
.mainLogo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 300px;
  text-align: center;
  line-height: 1;
}

/* about */
.about .detail{
    display: flex;
    gap: 80px;
    align-items: center;
    letter-spacing: -1px;
}
.about .detail figure{
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background-color: var(--color-lightgray);
    overflow: hidden;
}
.about .detail figure img {
    width: 100%;
}
.aboutMe {
    display: flex;
    gap: 80px;
    margin-bottom: 80px;
}
.aboutMe .category {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  text-transform: capitalize;
  line-height: 1.2;
}
.aboutMe li {
    margin-bottom: 5px;
    font-size: 18px;
}
.experience b {
    font-weight: 500;
    margin-right: 7px;
}
.experience .hasSub{
    display: flex;
}
.experience .hasSub .sub li:last-child{
    font-size: 14px;
    color: var(--color-gray);
    margin-top: -3px;
}
.story p.text+p.text{
    margin-top: 10px;
}
.story span.tag{
    display: inline-block;
    padding: 0px 8px;
    background-color: var(--color-point);
    border-radius: 20px;
    font-weight: 500;
}

/* workRoom */
.workRoom {
    background-color: var(--color-point);
}
.workList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.workList+.workList{
    margin-top: var(--margin-top);
}
.workList figure{
    width: 400px;
    aspect-ratio: 3/4;
    background-color: gray;
    border-radius: 20px;
}
.workList:first-child{
    margin-left: 10%;
}
.workList:nth-child(2){
    flex-direction: column;
    margin-left: 15%;
}
.workList:last-child{
    margin-right: 10%;
}
.workList:nth-child(2) figure{
    width: 500px;
    aspect-ratio: 4/3;
    margin-bottom: 2%;
}
.workList .ul {
    margin-top: 20px;
}
.workList ul {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.workList ul li {
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 15px;
}
.workList ul.tags li {
    background-color: var(--color-point2);
}
.workList ul.tools li{
    background-color: var(--color-lightgray);
}

/* contact */
.contact{
    margin-top: 0;
}
.contactForm {
  max-width: 800px;
  margin: 0 auto;
}

.contactForm .row {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.contactForm .inputBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.contactForm label {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 20px;
}

.contactForm input {
  border: none;
  border-bottom: 1.4px solid var(--color-lightgray);
  padding: 8px 4px;
  font-size: 24px;
  letter-spacing: -0.8px;
  outline: none;
  transition: border-color 0.2s;
}

.contactForm input:focus {
  border-bottom-color: #000;
}

.contactForm textarea {
  width: 100%;
  border: 1.4px solid var(--color-lightgray);
  padding: 12px;
  font-size: 20px;
  resize: none;
  outline: none;
  transition: border-color 0.2s;
}

.contactForm textarea:focus {
  border-color: #000;
}

.contactForm button {
  margin-top: 30px;
  background: var(--color-gray);
  color: #fff;
  border: none;
  padding: 15px 0;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.contactForm button:hover {
    background-color: #000;
}



/* footer */
footer{
    min-height: 80vh;
    position: relative;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
footer .tothetop{
    position: absolute;
    right: 3%; top: 5%;
    background-color: var(--color-gray);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    transition: .2s;
}
footer .tothetop:hover{
    opacity: 1;
}
footer .mainLogo{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    line-height: 1;
}
footer span.text{
    color: var(--color-gray);
    position: absolute;
    right: 3%;
    bottom: 3%;
}